.form {
  position: relative;
  right: -6%;
  width: 66%;

  &__border {
    display: flex;

    position: relative;
    right: 168px;
    height: 40px;
    //width: 690px;
    border: 2px solid @custom-yellow;
    border-radius: 10px;
    background-color: @custom-yellow;

  }

  &__find-wrap {
    display: flex;
    position: relative;
    right: 3px;
    bottom: 2px;
    //width: 600px;
    height: 34px;
    border: none;
    border-radius: 10px 0 0 10px;
    background-color: @custom-yellow;

  }
  &__wrap-icon {
    position: absolute;
    left: 85%;
    bottom: 80%;
    height: 15px;
    width: 15px;
    fill: @custom-grey;
    &._left {
      left: 90%;
    }
    &:hover {
      fill: @custom-gray;
    }
  }
  &__submit {

    position: relative;
    z-index: -99;
    height: 100%;
    cursor:pointer;
  }
  &__text {
    position: absolute;
    right: -6px;
    top:22%;
    .font-base();
    font-size: @font-big-size;
    cursor: pointer;
  }
  &__find-field {
    position: relative;
    top: 4px;
    left: 4px;
    .font-base();
    height: 100%;
    border: none;
    border-radius: 10px;

    &:focus {
      outline: none;
    }
  }

  &__submit-wrap {
    position: relative;
    bottom: 2px;
    left: 1px;
    width: 82px;
    height: 40px;
    background-color: @custom-yellow;
    border: 2px solid @custom-yellow;
    border-radius: 0 10px  10px 0;
    &:hover {
      background-color: @custom-orange;
      border: 2px solid @custom-orange;
      border-radius: 0 10px  10px 0;


    }
  }
}


