.hat {
  display: flex;
  height: 300px;
  margin-bottom: 30px;

  &__first-half {
    height: 300px;
    width: 1500px;
  }

  &__second-half {
    margin-top: 10px;
    height: 300px;
    width: 300px;

  }
}

