.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 2px;
  height: 90px;
  width: 290px;
  border: 2px solid @custom-blue;
  border-radius: 10px 10px 0px 0px;
  background-color: @custom-blue;

  &__icon {
    //transform: scale(0.7,0.7);
    fill: @custom-white;

  }

}