.news {
  display: flex;
  flex-direction: column;
  &__wrap {
    padding-top: 10px;
    padding-left: 22px;
    display: flex;
    justify-content: space-between;
  }
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &__wrap-advert {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

  }

}