.news {

  &:hover .head .link ._hover-appear {
    opacity: 2;
  }
  &__link {
    display: flex;
    column-gap: 10px;
    align-items: flex-end;
  }
  &__head {

    align-items: flex-end;
  }
  &__valuta {
    .font-bold();
    font-size: @font-normal-size;
    margin-top: 10px;
    margin-left: 4px;
  }

}