.text {
  .font-base();

  &._supersmall {
    font-size: @font-supersmall-size;
  }




  &._near {
    font-size: @font-big-size;
    position: relative;
    top: 19px;
    left: 7px;
  }
  &._nowrap {
    position: relative;
    bottom: 22px;
    white-space: nowrap;
  }

  &._center {

    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &._big-between {
    position: relative;
    bottom: 15px;
    left: 35px;
    font-size: @font-superbig-size;
  }
  &._main {
    .font-bold();

    color: @custom-blue;
  }
  &._secondary-bold {
    .font-bold();
    white-space: nowrap;


    color: @custom-lightblue;

  }
  &._black-bold {
    position: relative;
    bottom: 30px;
    left: 30px;
    .font-bold();
    font-size: @font-normal-size;
  }
  &._secondary {
    .font-base();
    white-space: nowrap;


    color: @custom-lightblue;

  }
  &._warning {
    position: relative;
    left: 11px;
    color: @custom-orange;
  }
  &._positioned-higher {
    position: relative;
    bottom: 30px;
    left:-10px;
  }
  &._positioned-left {
    white-space: nowrap;
    position: relative;
    left: -3px;
  }

  &._gray {
    color: @custom-gray;

  }
  &._supersmall {
    font-size: @font-supersmall-size;
  }

  &._hovered-red {
    &:hover {
      color: @custom-red;
    }
  }
}