.text {
  font-family: 'YS Text','Helvetica Neue',Arial,sans-serif;


  &._gray {
    color: @custom-gray;

  }

  &._near {
    position: relative;
    top: 19px;
    left: 7px;
  }

  &._center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &._big-between {
    position: relative;
    bottom: 15px;
    left: 35px;
    font-size: x-large;
  }
  &._main {
    font-size: 20px;
    color: @custom-blue;
  }
  &._secondary {
    white-space: nowrap;


    color: @custom-lightblue;

  }
  &._warning {
    position: relative;
    left: 7px;
    color: @custom-orange;
  }
  &._positioned-higher {
    position: relative;
    bottom: 30px;
  }
  &._positioned-left {
    position: relative;
    left: -3px;
  }

}