.trafic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;

  &__head {
    display:inline-grid ;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    align-items: center;
  }
  &__info {
    display:inline-grid ;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    height: 70px;
  }
}

