.trafic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;

  &__head {
    display:flex ;
    align-items: center;
  }
  &__info {
    display: flex;
    height: 70px;
  }
}

