.weather {

  height: 100px;

  &__link {
    display: flex;
  }
  &__head {
    display: flex;
    height: 30px;
  }

  &__info {
    display: flex;
    column-gap: -25px;
    height: 70px;

  }
}
