@font-family: 'Roboto', Arial, Helvetica, sans-serif;
@font-normal-size: 14px;
@font-big-size: 18px;
@font-superbig-size: 28px;
@font-small-size: 10px;
@font-supersmall-size: 12px;


.font-base() {
  font-family: @font-family;
  font-weight: 400;
  font-style: normal;
  font-size: @font-normal-size;
}

.font-bold( @weight) {
  .font-base();
  font-size: @font-normal-size;
  font-weight: @weight;
}
.font-bold-big(@weight) {
  .font-base();
  font-size: @font-big-size;
  font-weight: @weight;
}
.font-bold-superbig(@weight) {
  .font-base();
  font-size: @font-superbig-size;
  font-weight: @weight;
}
.font-bold-small(@weight) {
  .font-base();
  font-size: @font-small-size;
  font-weight: @weight;
}
.font-bold-supersmall(@weight) {
  .font-base();
  font-size: @font-supersmall-size;
  font-weight: @weight;
}



